:host {
    display: table-row;
}

input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.single-position {
    
    &__suggestion-list {
        position: absolute;
        border: 2px black solid;
        padding: 5px;
        padding-left: 30px;
        list-style: circle;
        min-width: 300px;
    }

    &__suggestion-item {
        &::hover {
            cursor: pointer;
        }
    }
}
